﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts{

<script src="~/Scripts/raceScript/RaceController.js">
</script>
}
<div ng-app="WhaTechCustomerBetsApp" class="container">
    <div ng-controller="RaceController">

        <table>
            <thead>
                <th width="300px">Race Name</th>
                <th width="300px">Status</th>
                <th width="300px">Total Bet</th>
            </thead>
            <tbody ng-repeat="r in races">
                <tr>
                    <td>{{ r.RaceName}}</td>
                    <td>{{ r.Status}}</td>
                    <td>{{ r.TotalBet}}</td>
                </tr>


                <tr>
                    <td></td>
                    <td><b>Horse Name</b></td>
                    <td><b>Total Bet</b></td>
                    <td><b>Payout</b></td>
                </tr>

                <tr ng-repeat="h in r.Horses">
                    <td></td>
                    <td>{{h.HorseName}}</td>
                    <td>{{h.BetCount}}</td>
                    <td>{{h.PayOut}}</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>